name: CI
on:
  push:
  workflow_dispatch:
  schedule:
    - cron: "0 6 * * 1"
jobs:
  style:
    runs-on: ubuntu-latest
    container:
      image: crystallang/crystal
    steps:
      - uses: actions/checkout@v2
      - name: Format
        run: crystal tool format --check
      - name: Lint
        uses: crystal-ameba/github-action@v0.2.12
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  test:
    strategy:
      fail-fast: false
      matrix:
        crystal:
          - latest
          - nightly
          - 1.2.2
    runs-on: ubuntu-latest
    container: crystallang/crystal:${{ matrix.crystal }}
    steps:
    - uses: actions/checkout@v2
    - name: Install dependencies
      run: shards install --ignore-crystal-version
    - name: Tests
      run: crystal spec -v --error-trace
    - name: Tests Multithreaded
      run: crystal spec -Dpreview_mt -v --error-trace
      if: ${{ matrix.crystal != '0.36.1' }} # MT not supported for crystal v0.36.1
